@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Responsibility>

@{
    var group = Model
    .GroupBy(x => x.date.Month)
    .OrderBy(x => x.Key);

    var monthNames = new Dictionary<int, string> {
            { 1, "January" }, { 2, "February" }, { 3, "March" },
            { 4, "April" }, { 5, "May" }, { 6, "June" },
            { 7, "July" }, { 8, "August" }, { 9, "September" },
            { 10, "October" }, { 11, "November" }, { 12, "December" }
        };
}
<div class="text-center">
    <h1 class="display-4">List to do</h1>
    <br />
    <a class="btn my-gradient-btn" asp-controller="Home" asp-action="Index">Back</a>
    <a class="btn my-gradient-btn" asp-controller="Responsibility" asp-action="CreateEditResponsibility">Create new</a>
    <hr />
    <h3>Total tasks: @ViewBag.responsibilities</h3>
    <br />
    <br1/>

    @foreach (var g in group)
    {
        <h3>@monthNames[g.Key]</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Number of tasks</th>
                    <th>Number of accomplished</th>
                    <th>Actions</th>
                </tr>
            </thead>
             <tbody>
             @{var groupDay = g.GroupBy(x => x.date.Day).OrderBy(x => x.Key);}
             @foreach(var grDay in groupDay)
             {
                 <tr>
                     <td>@grDay.Key</td>
                     <td>@grDay.Count()</td>
                     <td>@grDay.Where(x => x.accoplishment == true).Count()</td>
                     <td>
                     @{var example = Model.FirstOrDefault(x => x.date.Day == grDay.Key && x.date.Month == g.Key);}
                     <a asp-action="MonthResponsibilities" class="btn btn-outline-success" asp-route-day="@example.date.Day" asp-route-month="@example.date.Month">Go to</a>
                     <a asp-action="DeleteDayResponsibilities" class="btn btn-outline-danger" asp-route-day = "@example.date.Day" asp-route-month="@example.date.Month">Delete</a>
                     </td>
                 </tr>
             }
             </tbody>
         </table>
     }
</div>